/* globals.css */
/* Importe les styles de base de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles spécifiques pour le corps de l page */
body {
    background-color: #0D1B2A; /* Correspond à la couleur bleu nuit du Navbar */
    color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}
